---
import Section from "../Section.astro"
import { basics, titlesSections } from "cvEs.json"
// import { basics, titlesSections } from "@cv"
const { summary } = basics
---

<Section title={titlesSections.AboutMe}>
  <p>
    {summary}
  </p>
</Section>
